Crop*
screenshot*
Runtime-Karza*
*.sublime-*
Tesseract/Training/jTessBoxEditor/data/pangram.xml
Tesseract/Training/jTessBoxEditor/lib/AppleJavaExtensions.jar
Tesseract/Training/jTessBoxEditor/lib/commons-io-2.5.jar
Tesseract/Training/jTessBoxEditor/lib/jai-imageio-core-1.3.1.jar
Tesseract/Training/jTessBoxEditor/lib/jna-4.4.0.jar
Tesseract/Training/jTessBoxEditor/lib/jul-to-slf4j-1.7.25.jar
Tesseract/Training/jTessBoxEditor/lib/lept4j-1.4.0.jar
Tesseract/Training/jTessBoxEditor/lib/log4j-1.2.17.jar
Tesseract/Training/jTessBoxEditor/lib/log4j-over-slf4j-1.7.25.jar
Tesseract/Training/jTessBoxEditor/lib/logback-classic-1.2.3.jar
Tesseract/Training/jTessBoxEditor/lib/logback-core-1.2.3.jar
Tesseract/Training/jTessBoxEditor/lib/slf4j-api-1.7.25.jar
Tesseract/Training/jTessBoxEditor/lib/tess4j-3.4.0.jar
Tesseract/Training/jTessBoxEditor/samples/vie/vie.arial.exp0.box
Tesseract/Training/jTessBoxEditor/samples/vie/vie.arial.exp0.tif
Tesseract/Training/jTessBoxEditor/samples/vie/vie.config
Tesseract/Training/jTessBoxEditor/samples/vie/vie.font_properties
Tesseract/Training/jTessBoxEditor/samples/vie/vie.frequent_words_list
Tesseract/Training/jTessBoxEditor/samples/vie/vie.times.exp0.box
Tesseract/Training/jTessBoxEditor/samples/vie/vie.times.exp0.tif
Tesseract/Training/jTessBoxEditor/samples/vie/vie.training_text.txt
Tesseract/Training/jTessBoxEditor/samples/vie/vie.unicharambigs
Tesseract/Training/jTessBoxEditor/samples/vie/vie.words_list
Tesseract/Training/jTessBoxEditor/samples/font_properties
Tesseract/Training/jTessBoxEditor/tesseract-ocr/java/piccolo2d-core-3.0.jar
Tesseract/Training/jTessBoxEditor/tesseract-ocr/java/piccolo2d-extras-3.0.jar
Tesseract/Training/jTessBoxEditor/tesseract-ocr/java/ScrollView.jar
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/ambigs.train
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/api_config
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/bigram
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/box.train
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/box.train.stderr
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/digits
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/hocr
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/inter
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/kannada
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/linebox
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/logfile
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/lstm.train
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/makebox
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/pdf
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/quiet
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/rebox
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/strokewidth
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/tsv
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/txt
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/configs/unlv
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/tessconfigs/batch
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/tessconfigs/batch.nochop
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/tessconfigs/matdemo
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/tessconfigs/msdemo
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/tessconfigs/nobatch
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/tessconfigs/segdemo
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/eng.traineddata
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/eng.user-patterns
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/eng.user-words
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/osd.traineddata
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tessdata/pdf.ttf
Tesseract/Training/jTessBoxEditor/tesseract-ocr/ambiguous_words.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/classifier_tester.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/cntraining.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/combine_lang_model.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/combine_tessdata.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/dawg2wordlist.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/iconv.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/icudata51.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/icui18n51.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/icuuc51.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libbz2-1.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libcairo-2.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libexpat-1.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libffi-6.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libfontconfig-1.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libfreetype-6.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libgcc_s_sjlj-1.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libgif-4.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libglib-2.0-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libgobject-2.0-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libgomp-1.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libharfbuzz-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libintl-8.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libjbig-2.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libjpeg-8.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/liblept-5.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/liblzma-5.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libopenjp2.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libpango-1.0-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libpangocairo-1.0-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libpangoft2-1.0-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libpangowin32-1.0-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libpixman-1-0.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libpng16-16.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libstdc++-6.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libtesseract-4.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libtiff-5.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libwebp-5.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/libwinpthread-1.dll
Tesseract/Training/jTessBoxEditor/tesseract-ocr/lstmeval.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/lstmtraining.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/mftraining.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/set_unicharset_properties.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/shapeclustering.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/tesseract.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/text2image.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/unicharset_extractor.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/wordlist2dawg.exe
Tesseract/Training/jTessBoxEditor/tesseract-ocr/zlib1.dll
Tesseract/Training/jTessBoxEditor/tools/language-specific.sh
Tesseract/Training/jTessBoxEditor/tools/tesstrain.sh
Tesseract/Training/jTessBoxEditor/tools/tesstrain_utils.sh
Tesseract/Training/jTessBoxEditor/tools/train.ps1
Tesseract/Training/jTessBoxEditor/jTessBoxEditor.jar
Tesseract/Training/jTessBoxEditor/program.log
Tesseract/Training/jTessBoxEditor/program.log.lck
Tesseract/Training/jTessBoxEditor/readme.html
Tesseract/Training/jTessBoxEditor/README.md
Tesseract/Training/jTessBoxEditor/train
Tesseract/Training/jTessBoxEditor/train.bat
Tesseract/Training/jTessBoxEditor/versionchanges.txt
Tesseract/Training/jTessBoxEditorFX/data/combiningsymbols.txt
Tesseract/Training/jTessBoxEditorFX/data/pangram.xml
Tesseract/Training/jTessBoxEditorFX/lib/commons-io-2.5.jar
Tesseract/Training/jTessBoxEditorFX/lib/controlsfx-8.40.12.jar
Tesseract/Training/jTessBoxEditorFX/lib/jai-imageio-core-1.3.1.jar
Tesseract/Training/jTessBoxEditorFX/lib/jna-4.4.0.jar
Tesseract/Training/jTessBoxEditorFX/lib/jul-to-slf4j-1.7.25.jar
Tesseract/Training/jTessBoxEditorFX/lib/lept4j-1.4.0.jar
Tesseract/Training/jTessBoxEditorFX/lib/log4j-1.2.17.jar
Tesseract/Training/jTessBoxEditorFX/lib/log4j-over-slf4j-1.7.25.jar
Tesseract/Training/jTessBoxEditorFX/lib/logback-classic-1.2.3.jar
Tesseract/Training/jTessBoxEditorFX/lib/logback-core-1.2.3.jar
Tesseract/Training/jTessBoxEditorFX/lib/slf4j-api-1.7.25.jar
Tesseract/Training/jTessBoxEditorFX/lib/tess4j-3.4.0.jar
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.arial.exp0.box
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.arial.exp0.tif
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.config
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.font_properties
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.frequent_words_list
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.times.exp0.box
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.times.exp0.tif
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.training_text.txt
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.unicharambigs
Tesseract/Training/jTessBoxEditorFX/samples/vie/vie.words_list
Tesseract/Training/jTessBoxEditorFX/samples/font_properties
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/java/piccolo2d-core-3.0.jar
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/java/piccolo2d-extras-3.0.jar
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/java/ScrollView.jar
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/ambigs.train
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/api_config
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/bigram
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/box.train
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/box.train.stderr
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/digits
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/hocr
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/inter
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/kannada
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/linebox
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/logfile
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/lstm.train
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/makebox
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/pdf
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/quiet
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/rebox
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/strokewidth
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/tsv
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/txt
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/configs/unlv
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/tessconfigs/batch
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/tessconfigs/batch.nochop
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/tessconfigs/matdemo
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/tessconfigs/msdemo
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/tessconfigs/nobatch
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/tessconfigs/segdemo
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/eng.traineddata
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/eng.user-patterns
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/eng.user-words
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/osd.traineddata
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tessdata/pdf.ttf
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/ambiguous_words.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/classifier_tester.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/cntraining.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/combine_lang_model.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/combine_tessdata.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/dawg2wordlist.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/iconv.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/icudata51.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/icui18n51.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/icuuc51.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libbz2-1.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libcairo-2.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libexpat-1.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libffi-6.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libfontconfig-1.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libfreetype-6.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libgcc_s_sjlj-1.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libgif-4.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libglib-2.0-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libgobject-2.0-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libgomp-1.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libharfbuzz-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libintl-8.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libjbig-2.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libjpeg-8.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/liblept-5.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/liblzma-5.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libopenjp2.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libpango-1.0-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libpangocairo-1.0-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libpangoft2-1.0-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libpangowin32-1.0-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libpixman-1-0.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libpng16-16.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libstdc++-6.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libtesseract-4.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libtiff-5.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libwebp-5.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/libwinpthread-1.dll
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/lstmeval.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/lstmtraining.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/mftraining.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/set_unicharset_properties.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/shapeclustering.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/tesseract.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/text2image.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/unicharset_extractor.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/wordlist2dawg.exe
Tesseract/Training/jTessBoxEditorFX/tesseract-ocr/zlib1.dll
Tesseract/Training/jTessBoxEditorFX/tools/language-specific.sh
Tesseract/Training/jTessBoxEditorFX/tools/tesstrain.sh
Tesseract/Training/jTessBoxEditorFX/tools/tesstrain_utils.sh
Tesseract/Training/jTessBoxEditorFX/tools/train.ps1
Tesseract/Training/jTessBoxEditorFX/jTessBoxEditorFX.jar
Tesseract/Training/jTessBoxEditorFX/readme.html
Tesseract/Training/jTessBoxEditorFX/README.md
Tesseract/Training/jTessBoxEditorFX/train
Tesseract/Training/jTessBoxEditorFX/train.bat
Tesseract/Training/jTessBoxEditorFX/versionchanges.txt
Tesseract/Training/jTessBoxEditor-2.0-Beta.zip
Tesseract/Training/jTessBoxEditorFX-2.0-Beta.zip
Tesseract/Training/readme.txt
